{
  "extends": "airbnb",
  "plugins": [],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.spec.js"]}],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "max-len": ["error", 80],
    "no-unused-vars": ["error", { "args": "none" }],
    "new-cap": ["error", { "capIsNew": false }],
    "indent": ["error", 2],
    "quotes": 0,
    "param-reassign": 0,
    "no-param-reassign": 0,
    "props": 0
  },
  "env": {
    "browser": true,
    "mocha": true
  },
}
