extends layout_kort

block content
  #mapid
  script.
    var mymap = L.map('mapid').setView([64.127, -21.817], 13);
    var basemap0 = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
    maxZoom: 18
    });
    var Esri_WorldImagery = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    });
    basemap0.addTo(mymap);
    Esri_WorldImagery.addTo(mymap);
    const position = [64.127, -21.817];
    /*const map = (
    <Map center={position} zoom={13}>
    <TileLayer
    url='http://{s}.tile.osm.org/{z}/{x}/{y}.png'
    attribution='&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    />
    <Marker position={position}>
    <Popup>
    <span>A pretty CSS3 popup.<br/>Easily customizable.</span>
    </Popup>
    </Marker>
    </Map>
    );
    render(map, document.getElementById('mymap'));*/
    L.marker([64.127, -21.817]).addTo(mymap)
    .bindPopup('Thetta er mynd af einhverju');
    L.marker([64.117, -21.807]).addTo(mymap)
    .bindPopup('Thetta er onnur mynd af einhverju');
    L.marker([64.147, -21.707]).addTo(mymap)
    .bindPopup('Thetta er thridja mynd af einhverju');