extends layout_kort

block content
  #mapid
  #myModal.modal
   img#img01.modal-content
   #caption
  #modalPopup.modal.fade
    .modal-dialog
     .modal-content
      .modal-header
       button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
       h4.modal-title Help
      .modal-body
       p This is a website that let's you view and upload images on a map.
       p
       | You can upload images by pressing
       span.glyphicon.glyphicon-upload
       |  then you select your image and submit.
       br
       strong This image has to be 
       strong
       a(href='https://en.wikipedia.org/wiki/Geotagging') geotagged
       |  otherwise you can't upload it
       p
       span.glyphicon.glyphicon-plus
       | icon let's you zoom into the map.
       p
       span.glyphicon.glyphicon-minus
       | icon let's you zoom out
       p you can switch between layouts with
       | this
       object(data='layers.svg', type='image/svg+xml')
       | icon and switch between road map or satellite map.
       p
       | the globe icon
       span.glyphicon.glyphicon-globe
       |  let's you zoom to world view.
       p
       | You can zoom to view Icelad with:
       span.glyphicon.glyphicon-zoom-out
       | icon.
       p
       button.btn.btn-primary(type='button', data-dismiss='modal') close


  script(src='javascripts/leafletFrontend.js')
