doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.2/dist/leaflet.css')
    link(rel='stylesheet', href='stylesheets/viewer.min.css')
    link(rel='stylesheet', href='stylesheets/frontend.css')
    link(rel='stylesheet', href='stylesheets/easy-button.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')


    script(src='JS/leaflet.js')
    script(src='JS/easy-button.js')
    script(src='JS/viewer.min.js')



    title
  body
    block content
