<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Notendasvæði Hallgríms Davíðs Egilssonar</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Vefforritun - Verkefni 1</h1>
    <ul>
      <li><a href="table.html">Hérna</a> er síða með töflu.</li>
      <li><a href="form.html">Hérna</a> er síða með formi sem inniheldur reiti.</li>
      <li><a href="matterial.html">Hérna</a> er síða með efni.</li>
    </ul>
    <form action="/" method="POST">
      <input type="file" accept=".jpg">
      <button type="submit">Submit</button>
    </form>
    <p>
    </p>
  </body>
  <footer>
    <address>
      <div>Höfundur: Hallgrímur Davíð Egilsson</div>
      <div>Netfang: hde5@hi.is</div>
    </address>
  </footer>
</html>



form(method='POST' action='/')
    label(for='multiplicationbox') Tala eða tölur:
    textarea#multiplicationbox.form-control(type='text', rows="5", name="multiplicationbox", placeholder="")
    button.btn.btn-primary(type='submit') Margfalda og finna þætti