extends layout

block content
	h1= title
	p Welcome to the #{title} page!
	form(method='POST' action='/' enctype='multipart/form-data')
		p
		label(for='image_title') New image title: 
		input#image_title(type='text', name='title', placeholder='title')
		p
		label(for='image_import') Import image: 
		input#image_import(type='file', name='myFile', accept='.jpg')
		p
		button.btn.btn-primary(type='submit') Submit




	//
		img(src='images/image1.jpg' id='img1')
		<form action="/" method="POST">
		  <input type="file" accept=".jpg">
		  <button type="submit">Submit</button>
		</form>
		form(method='POST' action='/')
			label(for='multiplicationbox') Tala eða tölur:
			textarea#multiplicationbox.form-control(type='text', rows="5",
			name="multiplicationbox", placeholder="")
			button.btn.btn-primary(type='submit') Margfalda og finna þætti

			input#image_import(type='file', ,name='myFile', accept='.jpg')

			label(for='image_import') Import image:
			input#image_import(type='file', ,name='myFile')
			button.btn.btn-primary(type='submit') Submit

			Fannar Theyr Guðmundsson
			Sverrir Karl Björnsson